<li class="clearfix">
    <a href="<%= BLOG_ENTRY_URL_PREFIX %><%= url %>">
        <h2><%= title %></h2>
        <time datetime="<%= createdAt %>"><%= timeAgo(createdAt) %></time>
        <div class="spinner"></div>
    </a>
</li>