<% if (uploadCount) { %>
<p>
    Uploading...
    <span class="uploadCount">
        <%= uploadCount %> file<%= uploadCount > 1 ? 's' : '' %> remaining
    </span>
</p>
<% } else { %>
<p>Uploads complete.</p>
<% } %>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= uploadPercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= uploadPercent %>%;">
    <%= uploadPercent %>%
  </div>
</div>
