<ul class="work-list clearfix">
<% for (var i=0; i < work.length; i++) { %>
  <li>
    <a href="/work/<%= work[i].slug %>">
      <div class="image-wrap">
        <img src="images/work/<%= work[i].thumb %>" alt="<%= work[i].title %>" />
      </div>
      <div class="content">
        <h2><%= work[i].title %></h2>
        <ul class="tags">
          <% 
            for (var j=0; j < work[i].tags.length; j++) { 
              var tag = work[i].tags[j];
          %>
            <li><%= tag %></li>
          <% } %>
        </ul>
      </div>
    </a>
  </li>  
<% } %>